// #ffd370
//  font-family: 'Baloo Thambi 2', cursive;
//  font-family: 'Noto Sans TC', sans-serif;

body{
  font-family: 'Noto Sans TC', sans-serif;
}
.eng-title{
  font-family: 'Baloo Thambi 2', cursive;
}

.bg-gradient{
  background-image: linear-gradient(175deg, $warning 55%, white 45%) !important;
  @include media-breakpoint-down(lg) {
    background: $warning !important;
  }
}
.mytodo{
  max-width: 500px;
  margin: 0 auto;
  .add-bar{
    display: flex;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: .5rem;
  }
  .add-btn{
    width:40px;
    height: 40px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-todo{
    width: 100%;
    padding: 10px;
    border: 0;
  }
}


.list-body{
  input{
    transform: scale(1.5);
    &:checked~span{
      text-decoration: line-through;
    }
  }
  span{
    font-size: 14px;
  }
  
}
.list{
  input{
    transform: scale(1.5);
    &:checked~span{
      text-decoration: line-through;
    }
  }
  span{
    font-size: 14px;
  }
  
}